In [16]:
import pyodbc
import pandas as pd
import sqlite3
def HandleHierarchyId(v):
      return str(v)

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      'SERVER=localhost;' 
                      'DATABASE=AdventureWorks2019;' 
                       'Trusted_connection=yes;')

conn.add_output_converter(-151, HandleHierarchyId)             
 
cursor = conn.cursor()

def getOrgLevelnames(level):
    
    firstNames = []
    lastNames = []
    IDs = []
    names = []
    addr = []
    IDNames = {}
    if int(userInput) not in range (1,5):
        print('That level is not in the company')
        return null
    else:
        cursor.execute('''select FirstName, LastName, P.BusinessEntityID, AddressLine1, City, Name
                          FROM Person.Person P,HumanResources.Employee HD,Person.Address PA,Person.BusinessEntityAddress PB,
                          Person.StateProvince PS
                          Where HD.OrganizationLevel = ? AND P.BusinessEntityID = HD.BusinessEntityID 
                          AND PB.AddressID = PA.AddressID  AND P.BusinessEntityID = PB.BusinessEntityID
                          AND PS.StateProvinceID = PA.StateProvinceID
                        ''', level)
    for row in cursor:
        #print('Name: ' , row)
        
        firstNames.append(row[0])
        lastNames.append(row[1])
        names.append(row[0] + ' '+ row[1])
        IDs.append(row[2])
        #IDNames[row[2]] = row[0] + ' ' + row[1]
        addr.append(row[3] + ' ' + row[4] + ', ' + row[5])
    df = pd.DataFrame({'Entity ID': IDs, 'Employee Name': names, 'Address': addr})
    
    return df
   

userInput = input("Which Organization level employees would you like to see? \n")
getOrgLevelnames(userInput)

Which Organization level employees would you like to see?
1

   Entity ID   Employee Name                                  Address
0          2     Terri Duffy        7559 Worth Ct. Renton, Washington
1         16   David Bradley        3768 Door Way Redmond, Washington
2         25  James Hamilton      9652 Los Angeles Monroe, Washington
3        234    Laura Norman   6937 E. 42nd Street Renton, Washington
4        263    Jean Trenary    2383 Pepper Drive Redmond, Washington
5        273   Brian Welcker  7772 Golden Meadow Issaquah, Washington